
*.ipch
.vs/PageantryDesigner/v16/.suo
.vs/PageantryDesigner/v16/Browse.VC.db
.vs/PageantryDesigner/v16/Browse.VC.opendb
*.obj
*.tlog
x64/Debug/PageantryDesigner.exe
x64/Debug/PageantryDesigner.ilk
x64/Debug/PageantryDesigner.pdb
PageantryDesigner/x64/Debug/vc142.pdb
PageantryDesigner/x64/Debug/moc_GraphicsPanel.asm
PageantryDesigner/x64/Debug/moc_TopWindow.asm
PageantryDesigner/x64/Debug/PageantryDesigner.log
PageantryDesigner/x64/Debug/qrc_TopWindow.asm
PageantryDesigner/x64/Debug/qt_work.log
PageantryDesigner/x64/Debug/qtvars_arwzjc2v.021.designtime.props
PageantryDesigner/x64/Debug/qtvars_x64_Debug.designtime.idx
PageantryDesigner/x64/Debug/qtvars_x64_Debug.props
PageantryDesigner/x64/Debug/moc/moc_GraphicsPanel.cpp
PageantryDesigner/x64/Debug/moc/moc_TopWindow.cpp
PageantryDesigner/x64/Debug/rcc/qrc_TopWindow.cpp
PageantryDesigner/x64/Debug/uic/ui_TopWindow.h
PageantryDesigner/x64/Debug/qtvars_djuuhhnu.5rh.designtime.props
PageantryDesigner/x64/Debug/qtvars_suyhpzzc.ii1.designtime.props
PageantryDesigner/x64/Debug/qtvars_aku2yqv4.ewo.designtime.props
PageantryDesigner/x64/Release/qtvars_wzzdklj2.nde.designtime.props
PageantryDesigner/x64/Release/qtvars_x64_Release.designtime.idx
PageantryDesigner/x64/Release/qtvars_x64_Release.props
kitty_new.fbx
N&I_rig.fbx
PageantryDesigner/x64/Debug/PageantryDesigner.Build.CppClean.log
PageantryDesigner/x64/Debug/PageantryDesigner.vcxproj.FileListAbsolute.txt
PageantryDesigner/x64/Debug/qtvars_pbfbyk4k.pwk.designtime.props
